.title-section {
  margin: 0 auto;
  width: 100%;
  position: relative;
  padding: 80px 0;
  align-items: center;
  justify-content: center;
  display: flex;
}

.title-section h1 {
  user-select: none;
  font-size: 40px;
  font-weight: 900 !important;
  text-transform: uppercase;
  margin: 0;
}

.title-section h1 span {
  color: greenyellow;
}
.title-bg {
  font-size: 90px;
  letter-spacing: 10px;
  line-height: 0.7;
  position: absolute;
  top: 50%;
  text-transform: uppercase;
  font-weight: 800;
  transform: translateY(-50%);
  color: hsla(0, 61%, 74%, 0.06);
}
.featured-box {
  box-sizing: border-box;
  position: relative;
}
.featured-box h3,
.featured-box h4 {
  font-size: 1.25rem;
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.featured-box:not(.style-5) .featured-box-icon {
  display: inline-block;
  font-size: 48px;
  min-width: 55px;
  min-height: 55px;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0.8rem;
  color: #4c4d4d;
  border-radius: 0;
}

.featured-box.style-3 {
  padding-left: 50px;
  padding-top: 8px;
}

.featured-box.style-3 .featured-box-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-bottom: 0;
  font-size: 30px;
  -ms-flex-pack: center !important;
  justify-content: center !important;
  text-align: center;
}

.featured-box.style-3 {
  padding-left: 90px;
  padding-top: 0;
}
.featured-box.style-3 .featured-box-icon {
  width: 70px;
  height: 70px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.featured-box-icon {
  font-size: 50px;
  margin: 44px 0;
  background-color: whitesmoke;
}
