.i {
  display: flex;
  height: 100vh;
  position: relative;
}
.i-left {
  flex: 1;
}

.i-right {
  flex: 1;
  height: 100vh;
}

.i-intro {
  font-size: 3rem;
  font-family: "Sacramento", cursive;
  font-weight: 600;
}

.i-name {
  font-size: 4rem;
  color: var(--secondary);
  width: max-content;
  font-family: "Playfair Display", serif;
}

.Typewriter__wrapper {
  font-weight: 600;
  color: var(--text);
  display: inline-block;
  width: fit-content;
  height: 100%;
  font-style: italic;
  font-weight: 600;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}

.words-wrapper {
  white-space: nowrap;
  width: 100%;
  height: 3rem;
  display: block;
}

.Typewriter__cursor {
  font-size: 1.5rem;
  font-weight: lighter;
  padding-left: 1px;
}
.profile-pic {
  user-select: none;
  bottom: 0;
  margin: 0%;
  width: 100%;
  height: 100%;
  transform: scale(2);
  object-fit: contain;
  z-index: 2;
}

.p-bg {
  width: 400px;
  height: 400px;
  background-color: var(--secondary);
  top: 50%;
  right: 0;
  position: absolute;
  padding-top: 110px;
  padding-right: 30px;
  justify-content: center;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 16%;
  overflow: hidden;
  z-index: 1;
}

.description {
  margin: 10px 0 0 0;
  display: flex;
}
